go 1.25.7

use (
	./services/activities
	./services/apiaries
	./services/identity
	./services/journeys
	./services/organizations
	./services/servicetemplate
	./services/shared
	./services/sync
	./services/todos
)
